- meta_description = 'Listen to thousands of live online radio from around the world. Find radio stations about sports, news, music and talk.'
- set_meta_tags title: 'Jharko | Stream Radio Online | Tune In to Free Radio Stations Online',
                description: meta_description,
                keywords: default_keywords,
                og: { title: 'Stream Radio Online | Jharko',
                      type: 'website',
                      url: ENV['ROOT_URL'],
                      description: meta_description,
                      image: ENV['ROOT_URL'] + 'chautari_radio.png' },
                twitter: {  card: 'summary',
                            image: ENV['ROOT_URL'] + 'chautari_radio.png',
                            title: 'Stream Radio Online | Jharko',
                            description: meta_description }

.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  %h1.h2 Tune In to thousands of Radio Stations
  %h2.lead Stream and Listen the best Online Radios about News, Music and Talk from around the world.

.mb-3
  .col-md-6.offset-md-3
    = form_tag root_path, method: :get, remote: true, id: 'search_form' do
      .input-group.mb-4
        = search_field_tag :query, session[:query], autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: 'Enter Radio station name...'
        = link_to root_path(query: ''), class: 'close-icon', remote: true do
          %i.fa.fa-times
        .input-group-append
          = button_tag 'Search', class: 'btn btn-primary'

.mb-3 &nbsp;
#stations_list.row= render 'stations/list'

.mb-5
.row
  .col-md-12
    Jharko.com lets you search and listen to any radio stations from around the world.
    Find radio stations by Country or Language. Stream radio stations online about world news,
    music, debates from all around the globe.

:javascript
  show_hide_clear();
  $('#query').on('keyup', function() {
    show_hide_clear();
  });

  function show_hide_clear() {
    if(!$('#query').val()) { $('.close-icon').hide(); }
    else { $('.close-icon').show(); }
  }
