- set_meta_tags title: 'Chautari | Stream Radio Online',
                description: 'Listen to thousands of live online radio from around the world. Find radio stations about sports, news, music and talk.',
                keywords: default_keywords

.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  %h1.display-4 Welcome to Chautari
  %p.lead Your one stop solution for local online media. Listen to radio from around the globe.

.mb-3
  .col-md-6.offset-md-3
    = form_tag root_path, method: :get, remote: true, id: 'search_form' do
      .input-group.mb-4
        = search_field_tag :query, session[:query], autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: 'Enter Radio station name...'
        = link_to root_path(query: ''), class: 'close-icon', remote: true do
          %i.fa.fa-times
        .input-group-append
          = button_tag 'Search', class: 'btn btn-primary'

.mb-3 &nbsp;
#stations_list.row= render 'stations/list'

:javascript
  show_hide_clear();
  $('#query').on('keyup', function() {
    show_hide_clear();
  });

  function show_hide_clear() {
    if(!$('#query').val()) { $('.close-icon').hide(); }
    else { $('.close-icon').show(); }
  }
