.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  %h1.display-4 Welcome to Chautari
  %p.lead Your one stop solution for local online media. Listen to radio and watch tv from around the globe.

.container.mb-3
  .col-md-6.offset-md-3
    .input-group.mb-4
      = text_field_tag :search, '', class: 'form-control', placeholder: 'Enter Radio station or TV name...'
      .input-group-append
        = button_tag 'Search', class: 'btn btn-primary'

.container
  .mb-3 &nbsp;
  .card-deck.mb-3.text-center
    .card.mb-4.box-shadow
      .card-header
        %h4.my-0.font-weight-normal Classic FM
      .card-body
        .mb-4
          %h1.card-title 100 MHz
          %small.text-muted Nepal / Kathmandu
        = button_tag 'Listen Now', class: 'btn btn-block btn-primary'

    .card.mb-4.box-shadow
      .card-header
        %h4.my-0.font-weight-normal Hits FM
      .card-body
        .mb-4
          %h1.card-title 91.2 MHz
          %small.text-muted Nepal / Kathmandu
        = button_tag 'Listen Now', class: 'btn btn-block btn-primary'

    .card.mb-4.box-shadow
      .card-header
        %h4.my-0.font-weight-normal Sagarmatha FM
      .card-body
        .mb-4
          %h1.card-title 108.4 MHz
          %small.text-muted Nepal / Kathmandu
        = button_tag 'Listen Now', class: 'btn btn-block btn-primary'
