.container.text-center.col-md-6.col-md-offset-3
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", class:"form-control"
    .form-group
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password, placeholder: 'Password', autocomplete: "off", class:"form-control"
    .form-group
      = f.password_field :password_confirmation, placeholder: 'Password Confirmation', autocomplete: "off", class:"form-control"
    .actions
      = f.submit "Sign up", class: 'button btn btn-primary col-md-12'
    %br
  %span
    Already have an account?
    = render "devise/shared/links"
