= form_for @station do |f|
  .form-group= errors_for @station

  .row
    .col-md-4.form-group
      .media
        .media-left.media-middle= image_tag(f.object.logo_url, class: 'border mr-3', size: '68x68')
        .media-body
          = f.label :logo
          = f.file_field :logo, class: 'form-control form-control-sm'
    .col-md-8.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control form-control-sm', required: true
  .row
    .col-md-12.form-group
      = f.label :tagline
      = f.text_field :tagline, class: 'form-control form-control-sm'

    .col-md-12.form-group
      = f.label :category_ids, 'Select Genre'
      %div= f.select :category_ids, Category.top_level.order(:title).collect{|l| [l.title, l.id]}, {}, size: 6, multiple: true, class: 'form-control form-control-sm', required: true

    .col-md-12.form-group
      = f.label :description
      = f.text_area :description, class: 'form-control form-control-sm', rows: 5
  .row
    .col-md-3.form-group
      = f.label :language_id
      %div= f.select :language_id, Language.all.collect{|l| [l.title, l.id]}, {include_blank: 'Select Language'}, class: 'form-control form-control-sm', required: true
    .col-md-3.form-group
      = f.label :website
      = f.text_field :website, class: 'form-control form-control-sm'
    .col-md-3.form-group
      = f.label :twitter
      = f.text_field :twitter, class: 'form-control form-control-sm'
    .col-md-3.form-group
      = f.label :facebook
      = f.text_field :facebook, class: 'form-control form-control-sm'
  .row
    .col-md-3.form-group
      = f.label :country_id
      %div= f.select :country_id, Country.all.collect{|c| [c.name, c.id]}, {include_blank: 'Select Country'}, class: 'form-control form-control-sm', required: true
    .col-md-3.form-group
      = f.label :address, 'Location'
      = f.text_field :address, class: 'form-control form-control-sm'
    .col-md-3.form-group
      = f.label :contact, 'Contact Address/Phone'
      = f.text_field :contact, class: 'form-control form-control-sm'
    .col-md-3.form-group
      = f.label :email
      = f.text_field :email, class: 'form-control form-control-sm'


  .card.form-group
    .card-body
      %h3.h4 Streams
      = f.fields_for :streams do |f|
        = render 'stream_fields', f: f
      = link_to_add_fields 'Add Stream', f, :streams

  .row
    .col-md-12.form-group
      = f.submit 'Save', class: 'btn btn-primary'

:javascript
  $("[data-form-prepend]").click(function(e) {
    var obj = $($(this).attr("data-form-prepend"));
    obj.find("input, select, textarea").each(function() {
      $(this).attr("name", function() {
        return $(this)
          .attr("name")
          .replace("new_record", new Date().getTime());
      });
    });
    obj.insertBefore(this);
    return false;
  });
