= form_for @station do |f|
  .form-group= errors_for @station

  .row
    .col-md-6.form-group
      .media
        .media-left.media-middle= image_tag(f.object.logo_url, class: 'border mr-3', size: '68x68')
        .media-body
          %strong= f.label :logo, 'Radio Station Logo'
          = f.file_field :logo, class: 'form-control'
    .col-md-6.form-group
      %strong= f.label :name, 'Name*'
      = f.text_field :name, class: 'form-control', placeholder: 'Enter Name of radio station...', required: true
  .row
    .col-md-12.form-group
      %strong= f.label :tagline
      = f.text_field :tagline, class: 'form-control', placeholder: 'Enter tagline if you have any...'

    .col-md-12.form-group
      %strong= f.label :category_ids, 'Select Genre (max. 3)*'
      %div= f.select :category_ids, category_options, {}, size: 6, multiple: true, class: 'form-control', required: true

    .col-md-12.form-group
      %strong= f.label :description
      = f.text_area :description, class: 'form-control', rows: 5, placeholder: 'Enter brief introduction about radio station here...'
  .row
    .col-md-6.form-group
      %strong= f.label :website
      = f.text_field :website, class: 'form-control', placeholder: 'Enter website url...'
    .col-md-6.form-group
      %strong= f.label :email
      = f.text_field :email, class: 'form-control', placeholder: 'Enter email address...'
    .col-md-6.form-group
      %strong= f.label :facebook
      = f.text_field :facebook, class: 'form-control', placeholder: 'Enter Facebook page url...'
    .col-md-6.form-group
      %strong= f.label :twitter
      = f.text_field :twitter, class: 'form-control', placeholder: 'Enter Twitter page url...'

  .row
    .col-md-6.form-group
      %strong= f.label :contact, 'Contact Address/Phone'
      = f.text_field :contact, class: 'form-control', placeholder: 'Enter contact details...'
    .col-md-6.form-group
      %strong= f.label :address, 'Location'
      = f.text_field :address, class: 'form-control', placeholder: 'Station location...'
    .col-md-6.form-group
      %strong= f.label :language_id, 'Language*'
      %div= f.select :language_id, Language.all.collect{|l| [l.title, l.id]}, {include_blank: 'Select Language'}, class: 'form-control', required: true
    .col-md-6.form-group
      %strong= f.label :country_id, 'Country*'
      %div= f.select :country_id, Country.all.collect{|c| [c.name, c.id]}, {include_blank: 'Select Country'}, class: 'form-control', required: true


  .card.form-group
    .card-body
      %h3.h5.pb-3 Station Streams
      = f.fields_for :streams do |f|
        = render 'stream_fields', f: f
      = link_to_add_fields 'Add Stream', f, :streams, {}, class: 'btn btn-outline-danger'

      %p.pt-3.text-muted
        You can add multiple stream urls of your radio station. Click Add Stream link again to add multiple streams.
        We only support Shoutcast v1.x, v2.x and Icecast v2.x streams and they should be public.

  .row
    .col-md-12.form-group
      = f.submit 'Submit Station', class: 'btn btn-danger', onclick: "return checkForm();"

:javascript
  $("[data-form-prepend]").click(function(e) {
    var obj = $($(this).attr("data-form-prepend"));
    obj.find("input, select, textarea").each(function() {
      $(this).attr("name", function() {
        return $(this)
          .attr("name")
          .replace("new_record", new Date().getTime());
      });
    });
    obj.insertBefore(this);
    return false;
  });

  function checkForm() {
    if ($("select#station_category_ids option:selected").length > 3) {
      alert('You can select maximum 3 genres only.');
      return false;
    }
    return true;
  }
