- set_meta_tags title: "Radio Stations | Stream Radio Online | Jharko",
                description: 'Find radio stations about sports, news, music and talk.',
                keywords: default_keywords

%h1.h2
  Stations
  = link_to 'New Station', new_station_path, class: 'btn btn-primary float-right' if user_signed_in? && current_user.is_admin?

.table-responsive
  %table.table
    %thead
      %tr
        %th{colspan: 2} Name
        %th Country
        - if user_signed_in? && current_user.is_admin?
          %th
          %th

    %tbody
      - @stations.each do |station|
        %tr
          %td{width: '80'}= image_tag(station.logo_url, class: 'border mr-3', size: '50x50', alt: station.name)
          %td
            %strong= link_to station.name, station
            %div
              %small= station.website
              %div
                - if station.twitter?
                  = link_to 'Twitter', 'https://twitter.com/' + station.twitter.gsub('@', ''), class: 'btn'
                - if station.facebook?
                  = link_to 'Facebook', station.facebook, class: 'btn'
          %td= station.country_name
          - if user_signed_in? && current_user.is_admin?
            %td= link_to 'Edit', edit_station_path(station)
            %td= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' }

      %tr
        %td.pt-3{colspan: 11}= paginate @stations
