- if session[:stream].present?
  - session[:stream].symbolize_keys!

  = link_to 'Close', player_close_stations_path, remote: true, class: 'small', id: 'close'
  #inner
    .container
      .row
        .col-md-4
          .media
            .media-left
              - station = Station.find_by(id: session[:stream][:station_id])
              = image_tag station.logo_url, size: '36x36' if station.present?
            .media-body
              = link_to station.name, station_path(station), remote: true if station.present?

        .col-md-6
          %audio{controls: true, id: 'player', preload: 'none', 'data-plyr-config': '{ "invertTime": false }'}

  :javascript
    player = new Plyr('#player', {
      controls: ['play-large', 'play', 'current-time', 'mute', 'volume']
    });
    player.source = {
      type: 'audio',
      title: 'Example title',
      sources: [{
        src: "#{session[:stream][:url].strip}",
        type: "#{session[:stream][:content_type].strip}",
      }]
    };
    player.play();
