- set_meta_tags title: @station.meta_title,
                description: @station.meta_desc,
                keywords: @station.meta_keywords,
                og: { title: @station.meta_title,
                  url: station_url(@station),
                  image: image_url(@station.logo_url),
                  description: @station.meta_desc }

= google_structured_data @station

.row
  .col-md-8{itemscope: true, itemtype: 'http://schema.org/RadioStation'}
    %span.d-none{itemprop: 'telephone'} -
    .row
      .col-md-12
        %h5.mb-3.pb-2.border-bottom
          Station Info
          .btn-toolbar.mb-2.float-right
            - if user_signed_in? && current_user.is_admin?
              = link_to 'Edit', edit_station_path(@station), class: 'btn btn-default btn-sm'
              = link_to 'Remove', @station, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-default btn-sm'
            = link_to '< Back', request.headers['HTTP_REFERER'] || root_path, remote: true, class: 'btn btn-default btn-sm'

    .row
      .col-md-3.form-group= image_tag(@station.logo_url, class: 'border img-fluid', alt: @station.name, itemprop: 'image')
      .col-md-9.form-group
        .row
          .col-md-12.form-group
            %h1.h2.font-weight-light{itemprop: 'name'}= @station.name
            - if @station.tagline?
              %div= @station.tagline

            - cnames = @station.categories_names
            %ul.nav.small.lh-25
              - if cnames.present?
                %li.nav-item.text-muted.pr-2= genre_links(cnames) + '&nbsp; |'.html_safe
              %li.nav-item.text-muted.pr-2= "<a href=\"#reviews\">Reviews:</a> #{@station.reviews_count} &nbsp; |".html_safe
              %li.nav-item.text-muted.pr-2= "<a href=\"#average_rating\">Average Rating:</a>".html_safe
              %li.nav-item.text-muted.rating_stars
                - if @station.average_rating.positive?
                  = select_tag :average_rating_field, options_for_select((1..5).to_a)
                  :javascript
                    $('#average_rating_field').barrating({
                      theme: 'fontawesome-stars',
                      initialRating: #{@station.average_rating},
                      readonly: true
                    });
                - else
                  %strong 0.0

        = render 'stream', station: @station

    .row
      .col-md-12
        %h3.h4 Details

    - if @station.description?
      .row
        .col-md-12.form-group{itemprop: 'description'}= @station.description

    .row
      - country = link_to @station.country_name, country_path(@station.country)
      .col-md-12.small Location
      .col-md-12.form-group{itemprop: 'address'}= [@station.address, country].compact.reject(&:empty?).join(', ').html_safe

    - if @station.website?
      .row
        .col-md-12.small Website
        .col-md-12.form-group= link_to @station.website, "http://#{@station.website.gsub('http://', '').gsub('https://', '')}", target: '_blank'
    - if @station.twitter?
      .row
        .col-md-12.small Twitter
        .col-md-12.form-group= @station.twitter
    - if @station.facebook?
      .row
        .col-md-12.small Facebook
        .col-md-12.form-group= @station.facebook
    - if @station.contact?
      .row
        .col-md-12.small Address
        .col-md-12.form-group= @station.contact
    - if @station.email?
      .row
        .col-md-12.small Email
        .col-md-12.form-group= @station.email

    %hr
    = render 'reviews/review', station: @station

  .col-md-4
    %h5.mb-3.pb-2.border-bottom Similar Stations
    %h2.small.pb-2.lh-15 Listen to #{@station.name} live or stream radio stations similar to #{@station.name}.
    #similar_stations
      :javascript
        $.get("#{similar_station_path(@station)}");
