- meta_tagline = [@station.address, @station.country_name].compact.reject(&:empty?).join(', ') || 'Stream Radio Online'
- meta_keywords = [@station.name, @station.tagline, 'free radio', @station.categories.pluck(:title), 'stream music',meta_tagline,@station.language_title.to_s + ' radio'].flatten.compact.reject(&:empty?).join(',')

- meta_title = "Listen to #{@station.name}, #{meta_tagline} | Jharko"
- meta_desc = @station.description? ? @station.description.squish : "Listen to #{@station.name}, #{meta_tagline} for free."
- set_meta_tags title: meta_title,
                description: meta_desc,
                keywords: meta_keywords,
                og: { title: "Listen to #{@station.name}", url: station_url(@station), image: image_url(@station.logo_url), description: meta_desc }

.row
  .col-md-8
    .row
      .col-md-12
        %h5.mb-3.pb-2.border-bottom
          Station Info
          .btn-toolbar.mb-2.float-right
            - if user_signed_in? && current_user.is_admin?
              = link_to 'Edit', edit_station_path(@station), class: 'btn btn-default btn-sm'
              = link_to 'Remove', @station, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-default btn-sm'
            = link_to '< Back', request.headers['HTTP_REFERER'] || root_path, remote: true, class: 'btn btn-default btn-sm'

    .row
      .col-md-3.form-group= image_tag(@station.logo_url, class: 'border img-fluid', alt: @station.name)
      .col-md-9.form-group
        .row
          .col-md-12.form-group
            %h1.h2.font-weight-light= @station.name
            - if @station.tagline?
              %p= @station.tagline

        = render 'stream', station: @station

    .row
      .col-md-12
        %h3.h4 Details

    - if @station.description?
      .row
        .col-md-12.form-group= @station.description

    .row
      - country = link_to @station.country_name, country_path(@station.country)
      .col-md-12.small Location
      .col-md-12.form-group= [@station.address, country].compact.reject(&:empty?).join(', ').html_safe

    - if @station.website?
      .row
        .col-md-12.small Website
        .col-md-12.form-group= link_to @station.website, @station.website, target: '_blank'
    - if @station.twitter?
      .row
        .col-md-12.small Twitter
        .col-md-12.form-group= @station.twitter
    - if @station.facebook?
      .row
        .col-md-12.small Facebook
        .col-md-12.form-group= @station.facebook
    - if @station.contact?
      .row
        .col-md-12.small Address
        .col-md-12.form-group= @station.contact
    - if @station.email?
      .row
        .col-md-12.small Email
        .col-md-12.form-group= @station.email

  .col-md-4
    %h5.mb-3.pb-2.border-bottom Similar Stations
    %h2.small.pb-2.lh-normal Listen to #{@station.name} live or stream radio stations similar to #{@station.name}.
    #similar_stations
      :javascript
        $.get("#{similar_station_path(@station)}");
