.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2 Station Info
  .btn-toolbar.mb-2.mb-md-0
    = link_to 'Edit', edit_station_path(@station), class: 'btn btn-default' if user_signed_in? && current_user.is_admin?
    = link_to '< Back', :back, remote: true, class: 'btn btn-default'

.row
  .col-md-2.form-group= image_tag(@station.logo_url, class: 'border img-fluid')
  .col-md-10.form-group
    .form-group
      %h5= @station.name
      - if @station.tagline?
        %p= @station.tagline

    = render 'stream', station: @station

.row
  .col-md-12
    %h3.h4 Details

- if @station.description?
  .row
    .col-md-12.form-group= @station.description
- if @station.country?
  .row
    .col-md-12.small Location
    .col-md-12.form-group= [@station.address, @station.country].compact.reject(&:empty?).join(', ')

- if @station.website?
  .row
    .col-md-12.small Website
    .col-md-12.form-group= @station.website
- if @station.twitter?
  .row
    .col-md-12.small Twitter
    .col-md-12.form-group= @station.twitter
- if @station.facebook?
  .row
    .col-md-12.small Facebook
    .col-md-12.form-group= @station.facebook
- if @station.contact?
  .row
    .col-md-12.small Address
    .col-md-12.form-group= @station.contact
- if @station.email?
  .row
    .col-md-12.small Email
    .col-md-12.form-group= @station.email
