- set_meta_tags title: "Listen to #{@station.name} | Stream Radio Online | Chautari",
                description: @station.description? ? @station.description : "Listen to #{@station.name} live for free.",
                keywords: "#{[@station.name, @station.tagline, 'free radio', @station.categories.pluck(:title), 'stream music'].flatten.compact.reject(&:empty?).join(',')}"

.row
  .col-md-8
    .row
      .col-md-12
        %h5.mb-3.pb-2.border-bottom
          Station Info
          .btn-toolbar.mb-2.float-right
            - if user_signed_in? && current_user.is_admin?
              = link_to 'Edit', edit_station_path(@station), class: 'btn btn-default btn-sm'
              = link_to 'Remove', @station, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-default btn-sm'
            = link_to '< Back', request.headers['HTTP_REFERER'] || root_path, remote: true, class: 'btn btn-default btn-sm'

    .row
      .col-md-3.form-group= image_tag(@station.logo_url, class: 'border img-fluid', alt: @station.name)
      .col-md-9.form-group
        .row
          .col-md-12.form-group
            %h1.h2.font-weight-light= @station.name
            - if @station.tagline?
              %p= @station.tagline

        = render 'stream', station: @station

    .row
      .col-md-12
        %h3.h4 Details

    - if @station.description?
      .row
        .col-md-12.form-group= @station.description

    .row
      .col-md-12.small Location
      .col-md-12.form-group= [@station.address, @station.country_name].compact.reject(&:empty?).join(', ')

    - if @station.website?
      .row
        .col-md-12.small Website
        .col-md-12.form-group= @station.website
    - if @station.twitter?
      .row
        .col-md-12.small Twitter
        .col-md-12.form-group= @station.twitter
    - if @station.facebook?
      .row
        .col-md-12.small Facebook
        .col-md-12.form-group= @station.facebook
    - if @station.contact?
      .row
        .col-md-12.small Address
        .col-md-12.form-group= @station.contact
    - if @station.email?
      .row
        .col-md-12.small Email
        .col-md-12.form-group= @station.email

  .col-md-4
    %h5.mb-3.pb-2.border-bottom Similar Stations
    %h2.small.pb-2.lh-normal Listen to #{@station.name} live or stream radio stations similar to #{@station.name} for free.
    #similar_stations
      :javascript
        $.get("#{similar_station_path(@station)}");
