%h1 Listing stations

%table
  %thead
    %tr
      %th Name
      %th Country
      %th Slug
      %th Logo
      %th Website
      %th Twitter
      %th Facebook
      %th Total listeners
      %th
      %th
      %th

  %tbody
    - @stations.each do |station|
      %tr
        %td= station.name
        %td= station.country
        %td= station.slug
        %td= station.logo
        %td= station.website
        %td= station.twitter
        %td= station.facebook
        %td= station.total_listeners
        %td= link_to 'Show', station
        %td= link_to 'Edit', edit_station_path(station)
        %td= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Station', new_station_path
