- set_meta_tags title: "#{@language.title} Radio Stations | Stream Radio Online | Jharko",
                description: "Find local radio stations for #{@language.title} about sports, news, music and talk.",
                keywords: "#{@language.title},radio,stream radio,listen radio,jharko,online radio"

%h1.h2.mb-3.pb-2.font-weight-light.border-bottom
  #{@language.title} Radio Stations
  - if user_signed_in? && current_user.is_admin?
    = link_to 'Edit', edit_language_path(@language), class: 'btn btn-primary float-right'
    = link_to 'Back', languages_path, class: 'btn btn-primary float-right'

- if @stations.any?
  .row
    .col-md-8
      .row
        - @stations.each do |station|
          .col-lg-3.col-sm-4.col-xs-6.form-group
            = station_thumb(station)
            %div= station.country_name
            = render 'stations/display_rating', station: station

      = pagy_nav_bootstrap(@pagy).html_safe

    .col-md-4
      %h5.mb-3.pb-2.border-bottom Most Popular for #{@language.title}
      = render 'stations/most_popular', stations: @most_popular

- else
  No stations present.
