%h1.h2.mb-3.pb-2.font-weight-light.border-bottom
  #{@language.title} Radio Stations
  - if user_signed_in? && current_user.is_admin?
    = link_to 'Edit', edit_language_path(@language), class: 'btn btn-primary float-right'
    = link_to 'Back', languages_path, class: 'btn btn-primary float-right'

- if @stations.any?
  - @stations.each do |station|
    .media.form-group
      .media-left= image_tag(station.logo_url, class: 'border mr-3', size: '60x60')
      .media-body
        = link_to station.name, station, remote: true
        %div= station.country_name

  = paginate @stations, window: 1, remote: true
  
- else
  No stations present.
