%footer.footer
  .container
    .row
      .col-md-8.form-group.pt-3
        Copyright &copy; #{Date.today.year}, All Rights Reserved.
        -# = link_to 'FAQ', faq_path, remote: true, class: 'p-2 text-dark'
        = link_to 'Privacy', privacy_policy_path, title: 'Privacy policy', remote: true, class: 'p-2 text-dark'
        = link_to 'About Us', about_path, title: 'About Us', remote: true, class: 'p-2 text-dark'
        = link_to 'Contact', contact_path, title: 'Contact Us', remote: true, class: 'p-2 text-dark'
        = link_to 'Submit Radio Station', new_station_path, title: 'Submit radio station', remote: true, class: 'p-2 text-dark'
      .col-md-4.form-group.pt-3.text-md-right
        = link_to 'https://www.facebook.com/Jharko-232404494044355/', title: 'Jharko Facebook Page', target: '_blank' do
          %i.fa.fa-facebook

    %span#player_area= render 'stations/player'
