.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
  %h5.my-0.mr-md-auto.font-weight-normal= link_to 'Jharko', root_path, remote: true, class: 'navbar-brand'
  %nav.my-2.my-md-0.mr-md-3
    = link_to favorites_path, class: 'p-2 text-dark' do
      %i.fa.fa-heart
      My Favorites
    = link_to 'By Genre', categories_path, title: 'Find radio stations by Genre', remote: true, class: 'p-2 text-dark'
    = link_to 'By Country', countries_path, title: 'Find radio stations by Country', remote: true, class: 'p-2 text-dark'
    = link_to 'By Language', languages_path, title: 'Find radio stations by Language', remote: true, class: 'p-2 text-dark'
    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    .dropdown-menu
      - if user_signed_in?
        .dropdown-item= link_to 'Edit profile', edit_user_registration_path, title: 'Edit Profile', class: 'nav-link'
        .dropdown-item= link_to 'Log out', destroy_user_session_path, title: 'Log out', method: :delete, class: 'nav-link'
      - else
        .dropdown-item= link_to 'Log in', new_user_session_path, title: 'Log in', class: 'nav-link'
        .dropdown-item= link_to 'Sign up', new_user_registration_path, title: 'Sign up', class: 'nav-link'
