- set_meta_tags title: "Radio Stations from #{@country.name} | Stream Radio Online | Jharko",
                description: "Find local radio stations from #{@country.name} about sports, news, music and talk.",
                keywords: "#{@country.name},radio,stream radio,listen radio,jharko,online radio"

%h1.h2.mb-3.pb-2.font-weight-light.border-bottom
  Radio Stations in #{@country.name}
  - if user_signed_in? && current_user.is_admin?
    = link_to 'Edit', edit_country_path(@country), class: 'btn btn-primary float-right'
    = link_to 'Back', countries_path, class: 'btn btn-primary float-right'

- if @stations.any?
  .row
    .col-md-8
      .row
        - @stations.each do |station|
          .col-lg-3.col-sm-4.col-xs-6.form-group
            = station_thumb(station)
            = render 'stations/display_rating', station: station

      = pagy_bootstrap_nav(@pagy).html_safe

    .col-md-4.bg-light.p-3
      %h5.mb-3.pb-2.border-bottom Most Popular in #{@country.name}
      = render 'stations/most_popular', stations: @most_popular

- else
  No stations present.
