- set_meta_tags title: "Radio Stations from #{@country.name} | Stream Radio Online | Chautari",
                description: "Find local radio stations from #{@country.name} about sports, news, music and talk.",
                keywords: "#{@country.name},radio,stream radio,listen radio,chautari,online radio"

%h1.h2.mb-3.pb-2.font-weight-light.border-bottom
  #{@country.name} Radio Stations
  - if user_signed_in? && current_user.is_admin?
    = link_to 'Edit', edit_country_path(@country), class: 'btn btn-primary float-right'
    = link_to 'Back', countries_path, class: 'btn btn-primary float-right'

- if @stations.any?
  - @stations.each do |station|
    .media.form-group
      .media-left= image_tag(station.logo_url, class: 'border mr-3', size: '60x60', alt: station.name)
      .media-body
        = link_to station.name, station, remote: true
        %div= station.country_name

  = paginate @stations, window: 1, remote: true

- else
  No stations present.
