- set_meta_tags title: "Radio Stations from #{@country.name} | Stream Radio Online | Jharko",
                description: "Find local radio stations from #{@country.name} about sports, news, music and talk.",
                keywords: "#{@country.name},radio,stream radio,listen radio,jharko,online radio"

%h1.h2.mb-3.pb-2.font-weight-light.border-bottom
  Radio Stations from #{@country.name}
  - if user_signed_in? && current_user.is_admin?
    = link_to 'Edit', edit_country_path(@country), class: 'btn btn-primary float-right'
    = link_to 'Back', countries_path, class: 'btn btn-primary float-right'

- if @stations.any?
  .row
    .col-md-8
      .row
        - @stations.each do |station|
          .col-lg-3.col-sm-4.col-xs-6.form-group
            = image_tag station.logo_url, class: 'border img-fluid', alt: station.name
            = link_to station.name, station, remote: true

            - if station.present? && station.average_rating.positive?
              .rating_stars
                = select_tag :average_rating_field, options_for_select((1..5).to_a), id: "average_rating#{station.id}"
                :javascript
                  $("#average_rating#{station.id}").barrating({
                    theme: 'fontawesome-stars',
                    initialRating: #{station.average_rating},
                    readonly: true
                  });


      = paginate @stations, window: 1, remote: true

    .col-md-4
      %h5.mb-3.pb-2.border-bottom Most Popular in #{@country.name}
      = render 'stations/most_popular', stations: @most_popular

- else
  No stations present.
