%h1.h2
  Categories
  = link_to 'New Category', new_category_path, class: 'btn btn-primary float-right'

.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th Title
        %th Description
        %th Slug
        %th Ancestry
        - if user_signed_in? && current_user.is_admin?
          %th
          %th

    %tbody
      - @categories.each do |category|
        %tr
          %td= link_to category.title, category
          %td= category.description
          %td= category.slug
          %td= category.ancestry
          - if user_signed_in? && current_user.is_admin?
            %td= link_to 'Edit', edit_category_path(category)
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

      %tr
        %td.pt-3{colspan: 6}= paginate @categories

%br
%br
