!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = display_meta_tags

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: '//platform-api.sharethis.com/js/sharethis.js#property=5b10122c3a3bb4001108aa36&product=social-ab', 'data-turbolinks-track': 'reload'}

    %link{href: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel: "stylesheet"}

    = favicon_link_tag 'favicon-32x32.png'
    = favicon_link_tag 'favicon-16x16.png'
  %body
    = render 'shared/header'
    %main.container{role: 'main'}
      = render 'shared/flash_messages'
      = yield
    .pb-5
    = render 'shared/footer'

    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-119525310-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-119525310-1');
